.fz16
	font-size 16px !important

.fz14
	font-size 14px !important
	
.fz12
	font-size 12px !important

// Offset
.m0
	margin 0 !important
		
mt($mt)
	margin-top $mt !important
	display block
	
mb($mb)
	margin-bottom $mb !important
	display block
	
pt($pt)
	padding-top $pt !important
	display block
	
pb($pb)
	padding-bottom $pb !important
	display block	

.mt5
	mt(5px)
	
.mb5
	mb(5px)
	
.pt5
	pt(5px)
	
.pb5
	pb(5px)
	
.mt10
	mt(10px)
	
.mb10
	mb(10px)
	
.pt10
	pt(10px)
	
.pb10
	pb(10px)
	
.mt20
	mt(20px)
	
.mb20
	mb(20px)
	
.pt20
	pt(20px)
	
.pb20
	pb(20px)
	
.mt30
	mt(30px)
	
.mb30
	mb(30px)
	
.pt30
	pt(30px)
	
.pb30
	pb(30px)
		
.mt40
	mt(40px)
	
.mb40
	mb(40px)
	
.pt40
	pt(40px)
	
.pb40
	pb(40px)
	
.mt50
	mt(50px)
	
.mb50
	mb(50px)
	
.pt50
	pt(50px)
	
.pb50
	pb(50px)
	
.mt60
	mt(60px)
	
.mb60
	mb(60px)
	
.pt60
	pt(60px)
	
.pb60
	pb(60px)
	
.mt70
	mt(70px)
	
.mb70
	mb(70px)
	
.pt70
	pt(70px)
	
.pb70
	pb(70px)

.mt80
	mt(80px)
	
.mb80
	mb(80px)
	
.pt80
	pt(80px)
	
.pb80
	pb(80px)
	
.mt90
	mt(90px)
	
.mb90
	mb(90px)
	
.pt90
	pt(90px)
	
.pb90
	pb(90px)
		
.mt100
	mt(100px)
	
.mb100
	mb(100px)
	
.pt100
	pt(100px)
	
.pb100
	pb(100px)
	
.mt110
	mt(110px)
	
.mb110
	mb(110px)
	
.pt110
	pt(110px)
	
.pb110
	pb(110px)
	
.mt120
	mt(120px)
	
.mb120
	mb(120px)
	
.pt120
	pt(120px)
	
.pb120
	pb(120px)
	
.mt130
	mt(130px)
	
.mb130
	mb(130px)
	
.pt130
	pt(130px)
	
.pb130
	pb(130px)
	
.mt140
	mt(140px)
	
.mb140
	mb(140px)
	
.pt140
	pt(140px)
	
.pb140
	pb(140px)

.mt150
	mt(150px)
	
.mb150
	mb(150px)
	
.pt150
	pt(150px)
	
.pb150
	pb(150px)
	
.mt160
	mt(160px)
	
.mb160
	mb(160px)
	
.pt160
	pt(160px)
	
.pb160
	pb(160px)

@media (max-width: 768px)
	.sm-mt5
		mt(5px)
		
	.sm-mb5
		mb(5px)
		
	.sm-pt5
		pt(5px)
		
	.sm-pb5
		pb(5px)
		
	.sm-mt10
		mt(10px)
		
	.sm-mb10
		mb(10px)
		
	.sm-pt10
		pt(10px)
		
	.sm-pb10
		pb(10px)
		
	.sm-mt20
		mt(20px)
		
	.sm-mb20
		mb(20px)
		
	.sm-pt20
		pt(20px)
		
	.sm-pb20
		pb(20px)
		
	.sm-mt30
		mt(30px)
		
	.sm-mb30
		mb(30px)
		
	.sm-pt30
		pt(30px)
		
	.sm-pb30
		pb(30px)
			
	.sm-mt40
		mt(40px)
		
	.sm-mb40
		mb(40px)
		
	.sm-pt40
		pt(40px)
		
	.sm-pb40
		pb(40px)
		
	.sm-mt50
		mt(50px)
		
	.sm-mb50
		mb(50px)
		
	.sm-pt50
		pt(50px)
		
	.sm-pb50
		pb(50px)
		
	.sm-mt60
		mt(60px)
		
	.sm-mb60
		mb(60px)
		
	.sm-pt60
		pt(60px)
		
	.sm-pb60
		pb(60px)
		
	.sm-mt70
		mt(70px)
		
	.sm-mb70
		mb(70px)
		
	.sm-pt70
		pt(70px)
		
	.sm-pb70
		pb(70px)

	.sm-mt80
		mt(80px)
		
	.sm-mb80
		mb(80px)
		
	.sm-pt80
		pt(80px)
		
	.sm-pb80
		pb(80px)
		
	.sm-mt90
		mt(90px)
		
	.sm-mb90
		mb(90px)
		
	.sm-pt90
		pt(90px)
		
	.sm-pb90
		pb(90px)


// Text

.hairline
	font-weight 100

.light
	font-weight 300

.normal
	font-weight 400

.bold
	font-weight 700

.extrabold
	font-weight 800

.black
	font-weight 900

.uppercase
	text-transform uppercase

.text-center
	text-align center

.text-left
	text-align left

.text-right
	text-align right

.highlight
	background #fafafa
	border 1px solid #eee
	padding 3px

	
@media only screen and (max-width  768px)
	.text-right.sm
		text-align inherit

.pull-right
	float right

.pull-left
	float left


@keyframes animateIconTop
	49%
		transform translateY(-100%)
	50%
		opacity 0
		transform translateY(100%)
	51%
		opacity 1

@keyframes animateIconBottom
	49%
		transform translateY(100%)
	50%
		opacity 0
		transform translateY(-100%)
	51%
		opacity 1

@keyframes animateIconLeft
	49%
		transform translateX(-100%)
	50%
		opacity 0
		transform translateX(100%)
	51%
		opacity 1
		
@keyframes animateIconRight
	49%
		transform translateX(100%)
	50%
		opacity 0
		transform translateX(-100%)
	51%
		opacity 1
